.header {
    position: relative;
    /*padding: 20px 0;*/
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.26);

}
.menu-box,
.info-box {
    padding: 47px 0;
}
.info-box__phone {
    color: #22122f;
    font-size: 24px;
    line-height: 24px;
}
.soc-nets {

}
.soc-nets-link {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5%;
}
.soc-nets-link--insta {
    background: url("../../assets/img/insta.png") center center no-repeat;
}
.soc-nets-link--fb {
    background: url("../../assets/img/fb.png") center center no-repeat;
}
.site-menu__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0;
}
.site-menu__item {
    margin-left: 8%;
}
.site-menu__item a {
    color: #594b68;
    font-size: 16px;
    position: relative;
}
.site-menu__item a:hover {
    text-decoration: none;
}
.site-menu__item a.active:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #51315f;
    position: absolute;
}
.site-menu__item:first-child {
    margin-left: 0;
}
.logo-box {
    position: absolute;
    width:  131px;
    -webkit-box-shadow: -1px 0px 9px 1px rgba(199,189,199,0.7);
    -moz-box-shadow: -1px 0px 9px 1px rgba(199,189,199,0.7);
    box-shadow: -1px 0px 9px 1px rgba(199,189,199,0.7);
}
.logo-box__logo {
    font-size: 0;
    height: 145px;
    display: block;
    background: url('../../assets/img/logo.png') 0 0 no-repeat;
}