body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul, li {
  padding: 0;
  list-style: none;
}
/*.jumbo {*/
  /*height: 80vh;*/
/*}*/
.jumbotron {
  height: 70vh;
  background: url("assets/img/main-bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
  display: flex;
}
.jumbotron .container,
.jumbo__circle-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.us {
  padding: 2% 0;
  background: url("assets/img/us-bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #ffffff;
}
.us__slogan {
  font-size: 24px;
  line-height: 39px;
  text-transform: uppercase;
  padding-right: 25%;
}
.us__text {
  font-size: 16px;
  line-height: 33px;
}
.jumbo__circle {
  width: 466px;
  height: 466px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  padding: 12px;
  border-radius: 50%;
}
.jumbo__circle-inner {
  color: #22122f;
  height: 100%;
  border-radius: 50%;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
}
.jumbo__circle-title {
  text-align: center;
  font-size: 70px;
  line-height: 73px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 55px;
  padding: 0 20% 0 20%;
  position: relative;
}
.jumbo__circle-title:after {
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  background: #51315f;
  /*margin: 0 auto;*/
  position: absolute;
  bottom: -20%;
  left: 50%;
  margin-left: -100px;
}
.jumbo__circle-text {
  text-align: center;
  font-size: 24px;
  line-height: 39px;
  padding: 0 10%;
}
.sect-header {
  text-align: center;
  padding: 25px 0;
  margin-bottom: 25px;
}
.sect-header__title {
  font-size: 96px;
  line-height: 150px;
  text-transform: uppercase;
}
.sect-header__title.sect-header__title--prices {
  font-size: 24px;
  line-height: 39px;
}
.sect-header__text {
  font-size: 16px;
  line-height: 33px;
  font-weight: lighter;
  color: #686868;
}
.portfolio {
  overflow: hidden;
}
.img-fluid{
  display: block;
  margin: 0 auto;
}
.more-projects {
  text-align: center;
  background: url("assets/img/more-projects-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 60px 0;
}
.download-price-list {
  background: url("assets/img/download-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  text-align: right;
  position: relative;
}
.price-amounts {
  margin-bottom: 12%;
}
.price-amounts__title {
  font-size: 26px;
  line-height: 39px;
  text-transform: uppercase;
}
.price-amounts__text {
  display: block;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase
}
.btn {
  background: transparent;
  border: 1px solid #22122f;
  padding: 10px 30px 8px 30px;
  border-radius: 32px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn.btn--white {
  padding: 15px 40px 13px 40px;
  color: #ffffff;
  border-color: #ffffff;
}
.text-img {
  position: absolute;
  left: -60px;
  top: -170px;
  width: 853px;
  height: 380px;
  background: url("assets/img/download-img.png") center center no-repeat;
}
